<div class="show-button-container">
  <div class="show-button">
    <%= link_to "イベント一覧に戻る", index_post_ticket_path, class: "show-button-text"%>
  </div>
</div>

<!-- body -->
<div class="gp-index-body">

  <h2 class="gp-index-heading-2">投稿イベント一覧</h2>

  <% @post_tickets.each do |post_ticket| %>

    <div class="gp-line"></div>
    
    <a class="gp-index-item-container" href="<%= edit_post_ticket_path(post_ticket) %>">

      <!--
      <div class="item-image-container">
        <% if post_ticket.image.attached? %>
          <%= image_tag(post_ticket.image, class: "item-image") %>
        <% else %>
          <%= image_tag 'sample_no_image.jpg' ,class: "item-image" %>
        <% end %>
      </div>
      -->

      <span class="gp-text-bold gp-text-black"><%= post_ticket.festival_name %></span>
      <span class="gp-text-bold gp-text-black"><%= post_ticket.event_name %></span>
      <span class="gp-text-black">開催日：<%= l post_ticket.event_date %></span>
      <span class="gp-text-black">開催場所：<%= post_ticket.venue %></span>
      <span class="gp-text-black">販売価格：<%= post_ticket.price %>円</span>
        
    </a>
  <% end %>
  <div class="gp-line"></div>
</div>
