<div class="show-button-container">
  <!--ヘッダーのスペース確保 -->
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h2>確認画面</h2>

      <div class="form-group">
        <span class="form-label"> 集合日時 </span>
        <span class="confirm-control"> <%= @successful_bidder_limited.set_time.strftime("%Y年%m月%d日%H時%M分") %> </span>
      </div>

      <div class="form-group">
        <span class="form-label"> 集合時間 </span>
        <span class="form-control"> <%= @successful_bidder_limited.set_location %> </span>
      </div>

      <div class="form-group">
        <span class="form-label"> イベントが中止になる条件 </span>
        <span class="form-control"> <%= @successful_bidder_limited.suspension %> </span>
      </div>

      <div class="form-group">
        <span class="form-label"> 主催者の連絡先（雨天中止等） </span>
        <span class="form-control"> <%= @successful_bidder_limited.contact_address %> </span>
      </div>       

      <div class="form-group">
        <span class="form-label"> 連絡事項 </span>
        <span class="form-text-control"> <%= @successful_bidder_limited.message %> </span>
      </div>     
        
      <div class="button-group">
        <%= form_with(url: back_successful_bidder_limited_path(params[:id]), model: @successful_bidder_limited, local: true, method: :post, html: { class: 'post-form' } ) do |f| %>
          <%= f.submit '入力画面に戻る' ,class: 'inquiries-button inquiries-button-text' %>
        <% end %>
        <%= form_with(url: complete_successful_bidder_limited_path(params[:id]), model: @successful_bidder_limited, local: true, method: :post, html: { class: 'post-form' } ) do |f| %>
          <%= f.submit '投稿する' ,class: 'inquiries-orange-button inquiries-button-text' %>
        <% end %>
      </div>

  </div>
</div>