<div class="show-button-container">
  <div class="show-button">
    <%= link_to "イベント詳細に戻る", show_post_ticket_path(params[:id]), class: "show-button-text"%>
  </div>
</div>

<div class="inquiries-body">
  <div class="inquiries-container">
    <div class="gp-flex-container">
      <p class="gp-text-bold">イベントに関するお問い合わせ&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <%= link_to "本サイトに関するお問い合わせはこちら", new_inquiry_path(current_user.id), class: "gp-text-black"%>
    </div>
    
    <%= form_with(url: create_ticket_inquiry_path(params[:id]), model: @ticket_inquiry, local: true,  method: :post, html: { class: 'post-form' } ) do |f| %>

      <% if @ticket_inquiry.errors.any? %>
        <ul>
          <% @ticket_inquiry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %></li>
      <% end %>

      <div class="form-group">
        <%= f.label "あなたのメールアドレス", class: 'inquiries-form-label' %>
        <%= f.email_field :email, class: 'inquiries-form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label "件名", class: 'inquiries-form-label' %>
        <%= f.text_field :subject, class: 'inquiries-form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label "内容", class: 'inquiries-form-label' %>
        <%= f.text_area :message, class: 'inquiries-text-form-control' %>
      </div>

      <div class="button-group">
        <%= f.submit '送信', class: 'inquiries-button inquiries-button-text' %>
      </div>

    </div>
  <% end %>
</div>