<div class="show-button-container">
  <div class="show-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "show-button-text"%>
  </div>
</div>

<div class="inquiries-body">
  <div class="inquiries-container">
    <p class="gp-text-bold">本サイトに関するお問い合わせ</p>
    <span>イベントについての質問は、それぞれのイベントの詳細ページにあるお問い合わせリンクを使ってください。</span>

    <%= form_with(url: create_inquiry_path(params[:id]), model: @inquiry, local: true,  method: :post, html: { class: 'post-form' } ) do |f| %>

      <% if @inquiry.errors.any? %>
        <ul>
          <% @inquiry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %></li>
      <% end %>

      <div class="form-group">
        <%= f.label "あなたのメールアドレス", class: 'inquiries-form-label' %>
        <%= f.email_field :email, class: 'inquiries-form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label "件名", class: 'inquiries-form-label' %>
        <%= f.text_field :subject, class: 'inquiries-form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label "内容", class: 'inquiries-form-label' %>
        <%= f.text_area :message, class: 'inquiries-text-form-control' %>
      </div>

      <div class="button-group">
        <%= f.submit '送信', class: 'inquiries-button inquiries-button-text' %>
      </div>
    
    <% end %>
  </div>
</div>


